.container {
  inline-size: 100%;
  min-inline-size: 0;

  container-type: inline-size;

  overflow-x: auto;
}

.table {
  inline-size: 100%;

  border-collapse: separate;
  font-size: var(--font-size-body-default);
}

.cell {
    color: var(--color-text-secondary);
    
}

.table th,
.table td {
  padding: var(--space-4);

  text-align: start;
}

.tableRow {
    position: relative;
}

.tableRow td {
    position: relative;
    border-bottom: var(--border-width-medium) solid var(--color-border);
}


.tableRow:has(+ .tableRow[data-active="true"]) td {
    border-block-end-color: transparent;
}

.tableRow[data-clickable="true"] {
    cursor: pointer;
}

.tableRow[data-active="true"] td {
  background: rgba(236, 185, 20, 0.05);

  border-block-start: 1px solid var(--color-primary);
  border-block-end: 1px solid var(--color-primary);
}

.tableRow[data-active="true"] td:first-child::before{
  content: "";

  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 50%;
  translate: 0 -50%;

  inline-size: 3px;
  block-size: 80%;

  background: var(--color-primary);
  border-radius: var(--radius-round);
}



.tableRow[data-active="true"] td:first-child {
  border-inline-start: 1px solid var(--color-primary);

  border-start-start-radius: 16px;
  border-end-start-radius: 16px;
}

.tableRow[data-active="true"] td:last-child {
  border-inline-end: 1px solid var(--color-primary);

  border-start-end-radius: 16px;
  border-end-end-radius: 16px;
}

.table th {
  color:
    var(--color-text-secondary);

  font-weight:
    var(--font-weight-medium);
}


/* medium-large container */
@container (width <= 1100px) {
  .hide-lg {
    display: none;
  }
}

/* medium container */
@container (width <= 850px) {
  .hide-md {
    display: none;
  }
}

/* small container */
@container (width <= 600px) {
  .hide-sm {
    display: none;
  }
}