.layout {
  display: flex;

  block-size: 100dvh;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;

  flex: 1;

  min-inline-size: 0;
  min-block-size: 0;

  padding: var(--layout-md) var(--layout-xl);

  overflow: hidden;

}

.desktopSidebar {
  display: flex;
}

.mobileBottombar {
  display: none;
}


@media (width <= 992px) {
    .desktopSidebar {
        display: none;
    }

    .mobileBottombar {
        display: flex;
    }
}