.layout {
    display: flex;
    flex-direction: row;

    min-block-size: 100dvh;
    
}

.main {
    flex: 1;
    min-inline-size: 0;
    padding: var(--layout-md) var(--layout-xl);
}

.desktopSidebar {
  display: flex;
}

.mobileBottombar {
  display: none;
}


@media (width <= 992px) {
    .desktopSidebar {
        display: none;
    }

    .mobileBottombar {
        display: flex;
    }
}