.section {
    --before-color: #3B4431;
    padding: var(--layout-2xl) 0;
    position: relative;
}

.eyebrow {
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-wide);
    font-size: var(--font-size-body-default);
}

.title {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
}

.comparison {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    align-self: stretch;
}

.magicCircle {
    display: flex;
    width: 100px;
    height: 100px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    aspect-ratio: 1/1;
    border-radius: 100px;
    background: #ECB914;
}

@media (width <= 1200px) {
    .comparison {
        display: flex;
        flex-direction: column;
    }
}