.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-6) 0;
}

.headerInner {
    display: flex;
    inline-size: 100%;
    gap: var(--space-6);

    flex-wrap: wrap;
}

.lesson {
    display: flex;
    gap: var(--space-4);
}

.icon {
  aspect-ratio: 1;
  padding: var(--space-5);
  flex-shrink: 0;
  align-self: flex-start;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-primary-100);
  border-radius: var(--radius-lg);
}

.icon svg,
.icon img {
  inline-size: 64px;
  block-size: 64px;
}

.icon[data-active="true"] {
    svg,
    img {
        inline-size: 150px;
        block-size: 150px;
    }
}


.icon g rect {
    fill: var(--color-septenary);
}

.content {
    display: flex;
    flex: 1 1 500px;
    min-inline-size: 0;
    flex-direction: column;
    gap: var(--space-4);
}

.lessonDetails {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: var(--space-1);
}

.lessonHeading {
    display: flex;
    text-wrap: no-wrap;
    gap: var(--space-4);
}

.progress {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
}

.titleRow {
    display: flex;
    align-items: center;
    gap: var(--space-2);
}

.title {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-lg);
}

.controls {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-secondary);
}

.folders {
    display: flex;
    gap: var(--space-2);
    font-size: var(--font-size-md);
    flex-wrap: wrap;

    span {
        text-wrap: nowrap;
    }
}

.info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-2);
    flex-wrap: nowrap;
    white-space: nowrap;
    flex-wrap: wrap;
    font-size: var(--font-size-body-default);
}

.infoItem {
    display: flex;
    gap: var(--space-1);
    text-wrap: nowrap;
}


.infoItem svg {
    block-size: 24px;
    inline-size: 24px;
    color: var(--color-text-secondary);
}

.infoItem:not(:last-child)::after {
    content: "|";
    margin-inline-start: 0.5rem;
    color: var(--color-text-secondary);
}

@media (width <= 992px) {
    .icon[data-active="true"] {
        svg,
        img {
            inline-size: 100px;
            block-size: 100px;
        }
    }
}